/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot
/public/css
/public/js
storage/*.key
Homestead.yaml
Homestead.json
/.vagrant
.env

/.idea/
.DS_Store
.phpstorm.meta.php
_metadata.json
.php_cs.cache
*.cache
AppDataLocalGitHubPortableGit_etcprofile.daliases.sh.
